<!DOCTYPE html>
<html>

</head></head>
<head>
	<title>Employee Registration</title>
	<style>
		body {
			background-color:white
			; /* set background color to red */  /*AEB6BF*/
		}
	</style>
</head>
<head>
	<title>Employee Registration Form</title>
<h1><a href="EmployeeRegistration.html">Back</a> </h1>
	<style>
		body {
			background-image: url('SubmittedImage.png');
			background-repeat: no-repeat;
			background-size: 500px 300px;
			background-position: top;
		}
	</style>
	
	    <footer>
      <p>&copy; Team LEET/1337 All Rights Reserved.</p>
    </footer>
